<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Consulta Argus</title>
</head>

<body>
  <div class="card" style="height: 100vh; width: 100%;">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-8 col-md-4">
          <input type="text" class="form-control" placeholder="Digite o nome aqui">
        </div>
        <button type="button" class="btn btn-primary">Pesquisar</button>
      </div>
      <br>
      <br>
      <div class="table-responsive" style="width: 100%;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Mais Informações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tabelas of tabela; index as i">
              <td> {{i}} </td>
              <td> {{tabelas.nome}} </td>
              <td> {{tabelas.email}} </td>
              <td><a href="">Mais Informações</a></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>